* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #937af9;
}

p {
	font: bold 36px/36px Roboto, sans-serif;
	color: #fff;
	width: 400px;
	margin: 80px auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #111;
	font: normal 24px/24px Roboto, sans-serif;
}